/* css 파일의 주석 */
#myid2{background-color: black; color: cornsilk; font-size: 20px;}

/* 동적 선택자 */
input:focus{background-color: silver;}

a:link{text-decoration: none;}
a:hover{color:greenyellow;}

/*선택 연습*/
b{font-size: 8px;}
div b{font-size: 16px;} /* div tag 자손들 모두 */
div > b{font-size: 26px; color: blue;} /* div tag 직계 자식만 */
div b#hi{font-size: 30px; color: aqua;}
div b.hello{font-size: 40px; color:brown;}